#selector {
    display: flex;
}
#caption {
    font-size: x-large;
}
button {
    margin: 1em;
    background-color: blueviolet;
    border-radius: 0.8em;
}
img {
    object-fit: cover;
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    margin: 10px;
  }
